.scale_svg {
  position: relative;
}

@media screen and (max-width: 600px) {
  .scale_svg {
    width: 90%;
  }

  .scale_svg p {
    width: 60%;
  }

  .scale {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

@media screen and (max-width: 350px) {
  .scale {
    margin-top: 3rem;
  }
}
