.type-selector {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5em;
  margin-bottom: 0.5rem;
}

.type-selector button {
  background-color: transparent;
  border: none;
  padding: 10px 15px;
  cursor: pointer;
  font-size: 16px;
  color: #333;
  transition: color 0.3s ease;
  border-radius: 0;
  border-bottom: 0.1em solid transparent;
}

.type-selector button:hover {
  color: var(--tool-button);
  border-color: var(--tool-button);
}

.type-selector button:focus {
  outline: none;
}

.type-selector button.active {
  color: var(--tool-button);
  border-bottom: 2px solid var(--tool-button);
  font-weight: bold;
}
