.remove_img {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.img_back {
  position: relative;
}

.img_front {
  position: absolute;
  right: 0%;
  transform: translate(30%, -45%);
}
