.home main {
  padding-bottom: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.home h1 {
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  text-align: center;
}

.intro {
  margin-top: 2rem;
  display: flex;
  flex-direction: row;
  border-radius: 10px;
  width: 80%;
  height: 25%;
  margin-left: auto;
  margin-right: auto;
  background-color: var(--tone);
  overflow: hidden;
}

.intro img {
  width: 65%;
  height: auto;
}

.home_desc {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-top: 1rem;
  padding-bottom: 1rem;
}

.title {
  width: 90%;
}

.home_desc p {
  width: 65%;
}

.home_btn {
  display: flex;
  flex-direction: column;
  padding-bottom: 1rem;
}

@media screen and (max-width: 1000px) {
  .intro {
    flex-direction: column;
  }

  .intro img {
    width: 100%;
  }

  .home_btn {
    flex-direction: row;
    gap: 1rem;
  }
}

@media screen and (max-width: 500px) {
  .home_btn {
    flex-direction: column;
    gap: 0.1rem;
  }
}
