.dropdown {
  position: relative;
  display: inline-block;
  height: auto;
}

.dropdown_toggle {
  padding: 10px 10px 10px 20px;
  width: auto;
  background-color: var(--tool-button);
  color: var(--icon);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 20px;
}

.dropdown label {
  cursor: pointer;
}

.dropdown_list {
  position: absolute;
  bottom: 72%;
  right: 0;
  margin: 0;
  padding: 0;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: var(--tone);
  box-shadow: 0 -4px 8px rgba(0, 0, 0, 0.1);
  z-index: 10;
  width: 6rem;
  overflow-y: auto;
  max-height: 255px;
}

li {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  height: 2.125rem;
  border-bottom: 1px solid #ccc;
}

input {
  background-color: #ccc;
  width: 100%;
  border: 0;
  border-radius: 5px;
  color: var(--text);
  text-align: center;
}

.selected {
  background-color: var(--tool-button);
  color: #fff;
}

li:hover {
  background-color: #ccc;
}
