.tab_menu {
  display: flex;
  padding-bottom: 1rem;
  flex-wrap: wrap;
  justify-content: center;
  gap: 0.5em;
}

.tab_menu h3 {
  display: flex;
  align-items: center;
  margin-right: 1.5rem;
}

.tab_menu div {
  border-bottom: 0.1em solid transparent;
}

.tab_menu div:hover {
  color: var(--tool-button);
  border-color: var(--tool-button);
}

.tab_menu div.active {
  color: var(--tool-button);
  border-bottom: 0.15em solid var(--tool-button);
}

.tab_number {
  margin-right: 0.25rem;
}
