.stl_viewer {
  position: relative;
  width: 500px;
  height: 500px;
}

.button_div {
  display: flex;
  justify-content: center;
  gap: 5px;
}

@media screen and (max-width: 525px) {
  .stl_viewer {
    height: 375px;
    width: 95%;
  }
}
