.error_message {
  color: red;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
}

.submit_button {
  padding: 10px 20px;
  background-color: var(--submit);
  color: var(--icon);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 20px;
}

.submit_button:hover {
  background-color: var(--submit-hover);
}

.submit_button:disabled {
  background-color: var(--submit-disabled);
  cursor: not-allowed;
}

.back_button {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 5px;
  background-color: red;
  justify-content: flex-start;
  padding: 5px 10px 5px 10px;
}
